.footer_main {
    background-image: url(../image/footer_png.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    .footer_top {
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 80px 0;
        .footer_logo {
            margin-bottom: 30px;
            display: inline-block;

        }
        .f_hed {
            font-size: 24px;
            font-weight: 400;
            margin-bottom: 30px;
            color: #fff;
            .lets_link{
                position: relative;
                font-size: 24px;
                font-weight: 700;
                color: #fff;
                font-style: italic;
                transition: all 0.5s ease;
                &::before {
                    content: "";
                    width: 100%;
                    height: 2px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background-color: transparent;
                    transition: all 0.5s ease;
                    
                }
                &:hover {
                    
                    &::before {
                        background-color: #fff;
                    }
                }
            }
        }
        .banner_button {
          a {
            display: inline-block;
            margin-top: 10px;
            padding: 10px 20px;
            color: #fff;
            letter-spacing: 0.05em;
            border: 2px solid #fcc730;
            background-image: linear-gradient(30deg,#9c3d35ab 50%, transparent 50%);
            background-size: 540px;
            background-repeat: no-repeat;
            background-position: 0;
            transition: background 300ms ease-in-out;
            font-size: 18px; 
                &:hover {
                
                    background-position: 100%;
                    color: #ff9000;
                    background-color: #ffffff;
                    transition: .3s ease-in-out;
                
                    

                }
            }
        }
    }
    .footer_bottom {
        border-top: 2px solid rgba(255, 255, 255, 0.1);
        padding: 22px 0px;
        .copy_pra {
            color: #fff;
            margin: 0; 
            text-align: center;
            a {
                color: #fff;
                position: relative;
                font-size: 16px;
                &::before {
                    content: "";
                    width: 100%;
                    height: 1px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background-color: transparent;
                    transition: all 0.5s ease;
                }
                &:hover {
                    &::before {
                        background-color: #fff;
                    }
                }
            }

        }
    }
}