@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    background-image: linear-gradient(30deg,#9c3d35ab 50%, transparent 50%);
    background-color: #fff;
    font-size: 16px;
    line-height: 25px;
    h1,h2,h3,h4,h5,h6 {
        font-family: 'Playfair Display', serif;
    }

    font-family: "Poppins", sans-serif;
    a {
        text-decoration: none;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
  
}