// XX-Large devices (larger desktops, 1400px and up)
@media (max-width: 2560px) { 
    .banner {
        .main_banner {
            .banner_img {
                .img_man {
                    margin-top: 36px;
                    margin-left: 80px;
                    height: 450px;
                    width: 450px;
                }
            }
        }
    }

}
@media (max-width: 1920px) { 
    .banner {
        .main_banner {
            .banner_img {
                .img_man {
                    margin-top: 47px;
                    margin-left: 80px;
                    height: 450px;
                    width: 450px;
                }
            }
        }
    }

}
// X-Large devices (large desktops, 1200px and up)
@media (max-width: 1200px) { 

 }

@media (max-width: 1024px) { 
    .header .nav_main .h_contact_info {
        margin-left: -10px;
    }
    .header .nav_main .h_contact_info .yourmail::before {
        margin-right: 0;
    }
    .header .nav_main .nav_collapse .nav_manu .nav-item .nav-link {
        margin: 0 17px;
    }
    .banner {
        .main_banner {
            .banner_img {
                .img_man {
                    margin-top: 18px;
                    margin-left: 53px;
                    height: 333px;
                    width: 333px;
                }
            }
        }
    }

}
// Large devices (desktops, 992px and up)
@media (max-width: 992px) { 
    .banner {
        .main_banner {
            .banner_img {
                .img_man {
                    margin-top: 18px;
                    margin-left: 53px;
                    height: 240px;
                    width: 240px;
                }
            }
        }
    }

}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) { 
    header {
        .nav_main {
            .nav_collapse {
                ul {
                    margin: 20px 0;
                    overflow: scroll;
                    height: 150px;
                }
            }
        }
    }
    .demo {
        .demo_min {
            margin-bottom: 30px;
        }
    }
    .banner {
        .main_banner {
            .banner_img {
                .img_man {
                    margin-top: 15px;
                    margin-left: 50px;
                    height: 230px;
                    width: 230px;
                }
            }
        }
    }
   

}


@media (max-width: 640px) { 
    .banner {
        .main_banner {
            .banner_img {
                .img_man {
                    margin-top: 38px;
                    margin-left: 65px;
                    height: 370px;
                    width: 370px;
                }
            }
        }
    }
}
// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) { 

}
@media (max-width: 420px) { 
    .header .nav_main .h_contact_info {
        display: none;
    }
    .footer_main .footer_top .f_hed .lets_link {
        display: inline-block;
        margin: 5px 0;
    }
    .banner {
        .main_banner {
            .banner_img {
                .img_man {
                    margin-top: 26px;
                    margin-left: 56px;
                    height: 270px;
                    width: 270px;
                }
            }
        }
    }

}




@media (max-width: 375px) { 
    .demo {
        padding-top: 60px;
        .banner {
            text-align: center;
            .banner_button {
                display: flex;
                justify-content: center;
            }
        } 
    }
    .banner {
        .main_banner {
            .banner_item {text-align: center;
                .b_hed {
                    font-size: 42px;
                }
                .banner_button {
                    a {
                        padding: 7px 12px;
                    }
                }
            }
        }
    }
    .demo {
        .demos {
            .demo_hed {
                text-align: center;
                margin-bottom: 20px;
            }
        }
   
        .Project_hed {
            font-size: 38px; 
        }
  
        .demos {
            .demo_hed {
                font-size: 30px;
            }
        }
 
        .Project_hed {
            margin-bottom: 40px;
        }
    }
    .banner_button {
        justify-content: center;
        display: flex;
    }

   
    .footer_main {
        .footer_top {
            .banner_button {
                a {
                    padding: 7px 12px;
                }
            }
   
            .f_hed {
                font-size: 20px; 
                .lets_link {
                    position: relative;
                    font-size: 23px;
            
                }
            }
        }
   
        .footer_bottom {
            .copy_pra {
                font-size: 14px;
            } 
        }
        
    }
    .banner {
        .main_banner {
            .banner_img {
                .img_man {
                    margin-top: 22px;
                    margin-left: 45px;
                    height: 235px;
                    width: 235px;
                }
            }
        }
    }


}

