.banner {
  background-image: url(../image/bannar2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 50px; }
  .banner .main_banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    height: 455px;
    width: 100%;
    position: relative; }
    .banner .main_banner .dot_img {
      position: absolute;
      bottom: 0;
      left: 0; }
    .banner .main_banner .banner_item {
      z-index: 2; }
      .banner .main_banner .banner_item .b_hed {
        font-size: 72px;
        line-height: 88px;
        color: #fff;
        margin-bottom: 0;
        font-weight: 500; }
      .banner .main_banner .banner_item .b_pra {
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 0;
        color: #fff; }
      .banner .main_banner .banner_item .banner_button a {
        position: absolute;
        margin-top: 30px;
        padding: 10px 20px;
        color: #fff;
        letter-spacing: 0.05em;
        border: 2px solid #ffc72ecb;
        background-image: -webkit-linear-gradient(60deg, #aa453cab 50%, transparent 50%);
        background-image: -o-linear-gradient(60deg, #aa453cab 50%, transparent 50%);
        background-image: linear-gradient(30deg, #aa453cab 50%, transparent 50%);
        background-size: 540px;
        background-repeat: no-repeat;
        background-position: 0;
        -webkit-transition: background 300ms ease-in-out;
        -o-transition: background 300ms ease-in-out;
        transition: background 300ms ease-in-out;
        font-size: 18px; }
      .banner .main_banner .banner_item .banner_button:hover a {
        background-position: 100%;
        color: #ff9000;
        background-color: #ffffff;
        -webkit-transition: .3s ease-in-out;
        -o-transition: .3s ease-in-out;
        transition: .3s ease-in-out; }
    .banner .main_banner .banner_img .img_man {
      border: 1px solid #ff9000;
      border-radius: 50%;
      margin-top: 36px;
      margin-left: 80px;
      height: 381px;
      width: 381px; }
