.footer_main {
  background-image: url(../image/footer_png.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }
  .footer_main .footer_top {
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 80px 0; }
    .footer_main .footer_top .footer_logo {
      margin-bottom: 30px;
      display: inline-block; }
    .footer_main .footer_top .f_hed {
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 30px;
      color: #fff; }
      .footer_main .footer_top .f_hed .lets_link {
        position: relative;
        font-size: 24px;
        font-weight: 700;
        color: #fff;
        font-style: italic;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease; }
        .footer_main .footer_top .f_hed .lets_link::before {
          content: "";
          width: 100%;
          height: 2px;
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: transparent;
          -webkit-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease; }
        .footer_main .footer_top .f_hed .lets_link:hover::before {
          background-color: #fff; }
    .footer_main .footer_top .banner_button a {
      display: inline-block;
      margin-top: 10px;
      padding: 10px 20px;
      color: #fff;
      letter-spacing: 0.05em;
      border: 2px solid #fcc730;
      background-image: -webkit-linear-gradient(60deg, #9c3d35ab 50%, transparent 50%);
      background-image: -o-linear-gradient(60deg, #9c3d35ab 50%, transparent 50%);
      background-image: linear-gradient(30deg, #9c3d35ab 50%, transparent 50%);
      background-size: 540px;
      background-repeat: no-repeat;
      background-position: 0;
      -webkit-transition: background 300ms ease-in-out;
      -o-transition: background 300ms ease-in-out;
      transition: background 300ms ease-in-out;
      font-size: 18px; }
      .footer_main .footer_top .banner_button a:hover {
        background-position: 100%;
        color: #ff9000;
        background-color: #ffffff;
        -webkit-transition: .3s ease-in-out;
        -o-transition: .3s ease-in-out;
        transition: .3s ease-in-out; }
  .footer_main .footer_bottom {
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    padding: 22px 0px; }
    .footer_main .footer_bottom .copy_pra {
      color: #fff;
      margin: 0;
      text-align: center; }
      .footer_main .footer_bottom .copy_pra a {
        color: #fff;
        position: relative;
        font-size: 16px; }
        .footer_main .footer_bottom .copy_pra a::before {
          content: "";
          width: 100%;
          height: 1px;
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: transparent;
          -webkit-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease; }
        .footer_main .footer_bottom .copy_pra a:hover::before {
          background-color: #fff; }
